<!DOCTYPE html>
  <html lang="pt-BR">
  <%- include('../partials/head'); %>
  <body>
    <%- include('../partials/header'); %>
    <main>
      <div>
        <h1>Node com EJS</h1>
        <p>Aprendendo a trabalhar com arquivos EJS.</p>
      </div>
    </main>
    <div>      
      <ul>
        <h2><%= summary.title %></h2>
        <% summary.items.forEach(function(item) { %>
          <li><%= item %></li>
        <% }) %>
      </ul>
    </div>
    <%- include('../partials/footer'); %>
    <script src="/script.js"></script>
  </body>
</html>
